<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Schedule Manager</title>
</head>
<body>
<div align="center">
    <h1>Schedule Manager</h1>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Availability</th>
            <th>ID</th>
            <th>Class Name</th>
            <th>QrCode</th>
            <th>Schedule Id</th>
            <th>Lecture</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        </thead>
        <tbody>
        <span th:each="classroom : ${search.classrooms}">
            <tr th:each="schedule: ${classroom.schedules}">
                <td>
                    <a th:href="'/listCurrentActivity?studentId=1&qrCode=' + ${classroom.qrCode}" data-th-method="GET">Availability</a>
                </td>
                <td th:text="${classroom.classroomId}"></td>
                <td th:text="${classroom.name}"></td>
                <td th:text="${classroom.qrCode}"></td>
                <td th:text="${schedule.scheduleId}"></td>
                <td th:text="${schedule.lecture}"></td>
                <td th:text="${schedule.startTime}"></td>
                <td th:text="${schedule.endTime}"></td>
            </tr>
       </span>
        </tbody>
    </table>
</div>
</body>
</html>